.food-qty {
	width: 20px !important;
}

.food-pricing {
	position: relative;
	.price {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.order-state {
	text-align: right !important;
}

.order-state form {
	float: right;
	margin: 0px 5px;
}

#call-button {
	background: transparent;
	color: #999;
	border:none;
	display: block;
	padding: 9px 10px 11px;
}

#table-welcome button {
	background: transparent;
	border: none !important;
}